/* body {
  background-image: url(ree.jpg);
  background-repeat: no-repeat;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.text {
  color: white;
  margin-left: 480px;
  margin-top: 80px;
}

.sub {
  margin-left: 60px;
}
.but {
  margin-left: 110px;
}

.col {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
}

.buttons {
  margin-right: px;
} */
